.home {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1500px) {
  .home {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1120px) {
  .home {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 740px) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:500px){
    .home{
        grid-template-columns: repeat(2, 1fr);
    }
}