@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: var(--bg-color-2);
  height: 200vh;
}

:root {
  --first-color: #79c142;
  --bg-color-1: #333;
  --bg-color-2:#020916;
  --bg-color-3: #090b0f;
  --bg-color-4:#00000069;
  --text-color-1: #fdfdfd;
  --text-color-2: #ccc;
  --text-color-3:#f2c12e;
  --text-color-4: #08396863;

  --age-livre: #1b873b; /* verde */
  --age-10: #2d6cc0; /* azul  */
  --age-12: #f2c12e; /* amarelo */
  --age-14: #f28c28; /* laranja */
  --age-16: #d4352c; /* vermelho */
  --age-18: #111111; /* preto */
}

/*button*/
.btn{
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
 color: var(--first-color);
 transform: scale(1.05);
}

.paragraph{
  color: var(--text-color-2);
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: 200;
  width: min(1500px, 95%);
  margin:auto;
}
